@charset "UTF-8";
#menu {
    position: absolute;
    top: 50px;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Certifique-se de que o menu esteja na frente do mapa */
    background-color: rgba(255, 255, 255, 0.752);
    padding: 5px;
    border-radius: 10px;
    height:75px;
  }
.filterselect{
  
  /* font: 10px, Arial, Helvetica, sans-serif;  */
  margin-top: 5%;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 10px;
  height: 100px;
  
  /* background-color: transparent; */

}
.filterselect input, .filterselect select {
    /* display: block; */
    width: 100%;
    font-size: 19px;
    
}
.filterselect p{
  
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 0px !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  
}
.filterlabel {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 100%;
    float: left;
    margin-right: 10px;
    padding: 0px;
    border: 0px;
    clear: left;    
    /* z-index: 1000; */

}
.filterlabel + .filterlabel {
    clear: none;
    text-align: right;
    color: #050000a1;
    font-weight: bold;

    }
.slider {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* @start MAIN CALENDAR */
.tail-datetime-calendar, .tail-datetime-calendar *, .tail-datetime-calendar *:before,
.tail-datetime-calendar *:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tail-datetime-calendar{
    top: 0;
    left: 0;
    width: 360px;
    height: auto;
    margin: 15px;
    padding: 0;
    z-index: 3000;
    display: block;
    position: absolute;
    visibility: hidden;
    direction: ltr;
    border-collapse: separate;
    font-family: "Open Sans", Calibri, Arial, sans-serif;
    background-color: white;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.tail-datetime-calendar:after{
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    visibility: hidden;
}
.tail-datetime-calendar.calendar-static{
    top: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    position: static;
    visibility: visible;
}
.tail-datetime-calendar button.calendar-close{
    top: 100%;
    right: 15px;
    color: #303438;
    width: 35px;
    height: 10px;
    margin: 1px 0 0 0;
    padding: 5px 10px;
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    font-size: 14px;
    line-height: 1.125em;
    text-shadow: none;
    border: 0;
    outline: none;
    background-color: white;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9z\
                dmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsPSIjMzAzNDM4IiB\
                kPSJNNy40OCA4bDMuNzUgMy43NS0xLjQ4IDEuNDhMNiA5LjQ4bC0zLjc1IDMuNzUtMS40OC0xLjQ4TDQuNTIgOCAuNz\
                cgNC4yNWwxLjQ4LTEuNDhMNiA2LjUybDMuNzUtMy43NSAxLjQ4IDEuNDhMNy40OCA4eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center center;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    transition: opacity 142ms linear;
    -webkit-transition: opacity 142ms linear;
}
.tail-datetime-calendar button.calendar-close:hover{
    opacity: 1;
}
